/* BOILERPLATE */
:root {
    --purple: #635FC7;
    --light-purple: #A8A4FF;
    --black: #000112;
    --very-dark-gray: #20212C;
    --dark-gray: #2B2C37;
    --black4: #3e3f4e;
    --gray: #828FA3;
    --light-gray: #797784;
    --light-gray2: #F4F7FD;
    --white: #FFFFFF;
    --red: #EA5555;
    --light-red: #FF9898;
    --input-border-color: rgba(130, 143, 163, 0.25);
}
.light {
    --text-color: var(--black);
    --subText-color: var(--gray);
    --header-background-color: var(--white);
    --main-background-color: var(--light-gray2);
    --card-background-color: var(--white);
    --primaryBttn-background-color: var(--purple);
    --primaryBttn-color: var(--white);
    --subBttn-background-color: var(--light-purple);
    --subBttn-color: var(--purple);
    --warnBttn-background-color: var(--red);
    --warnBttn-color: var(--white);
    --unselected-background-color: transparent;
    --unselected-color: var(--gray);
}
.dark {
    --text-color: var(--white);
    --subText-color: var(--gray);
    --header-background-color: var(--dark-gray);
    --main-background-color: var(--very-dark-gray);
    --card-background-color: var(--dark-gray);
    --primaryBttn-background-color: var(--purple);
    --primaryBttn-color: var(--white);
    --subBttn-background-color: var(--white);
    --subBttn-color: var(--purple);
    --warnBttn-background-color: var(--red);
    --warnBttn-color: var(--white);
    --selected-background-color: var(--purple);
    --selected-color: var(--white);
    --unselected-background-color: transparent;
    --unselected-color: var(--gray);
}
body {
    margin: 0;
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--main-background-color);
    position: relative;
}
html {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: inherit;
}
button:disabled {
    cursor: auto;
}
h1, h2, h3, h4, p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

/* COMPONENTS */
app-root {
    display: block;
}
app-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    background-color: var(--header-background-color);
    color: var(--text-color);
}
app-board {
    display: grid;
    height: calc(100vh - 94px);
    background-color: var(--main-background-color);
    color: var(--text-color);
}
.mobile app-board {
    display: grid;
    height: calc(100vh - 73px);
}
.menuStyles, .optionStyles {
    background-color: var(--dark-gray);
    color: var(--gray);
}
.boardNumber {
    color: var(--gray);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    padding: 16px 26px;
}
.boardBtn, .createNewBoardBtn {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--gray);
    width: 240px;
    border-radius: 0 28px 28px 0;
    padding: 0 26px;
    margin: 0 20px 0 0;
}
.createNewBoardBtn {
    padding: 0 10px 0 26px;
    color: var(--purple);
}
.boardBtn > p, .createNewBoardBtn > p {
    font-size: 15px;
    font-weight: 500;
    padding: 15px 0;
}
.selected {
    background-color: var(--purple);
    color: var(--white);
}
.themeToggleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--very-dark-gray);
    padding: 20px 0;
    margin: 16px 16px 10px 16px;
    gap: 20px;
    align-self: self-end;
}

/* DIALOG STYLES */

mat-dialog-content {
    padding: 0 0 30px 0 !important;
    color: var(--text-color) !important;
}
.dialog {
    background-color: var(--card-background-color);
    padding: 24px;
    color: var(--text-color);
}

/* TEXT INPUT STYLES */
.dialog input[type="text"], .dialog textarea {
    border-radius: 4px;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--input-border-color);
    padding: 8px 16px;
    font-size: 13px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 23px;
    resize: none;
}
.dialog input[type="text"]:focus, .dialog textarea:focus {
    outline: none;
}

.dialog h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 24px 0;
}
form {
    display: grid !important;
    gap: 24px;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}
.dialog .input {
    display: grid;
    gap: 8px;
}
.multiInput {
    display: grid;
    gap: 12px;
}
.dialog label {
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
}

/* EDIT AND DELETE BUTTONS */
.editBoardBtn, .deleteBoardBtn {
    font-size: 13px;
    width: 160px;
    text-align: left;
}
.deleteBoardBtn {
    color: var(--red);
}

/* MAT SELECT STYLES */
mat-select {
    outline: 1px solid var(--input-border-color) !important;
    color: var(--text-color) !important;
    width: auto !important;
    margin: 0 1px;
    border-radius: 4px;
}
.mat-mdc-select-trigger {
    padding: 8px 16px;
}
.mat-mdc-select-value {
    color: var(--text-color);
    font-weight: 400;
    line-height: 20px;
}
.mdc-list-item__primary-text {
    color: var(--text-color);
}
.mat-pseudo-checkbox-checked::after {
    border-left: 2px solid var(--purple) !important;
}
.mat-pseudo-checkbox::after {
    border-bottom: 2px solid var(--purple) !important;
}
.mat-mdc-select-arrow {
    color: var(--purple);
}
.mat-mdc-select-panel {
    background: var(--card-background-color);
}

.mat-drawer-inner-container {
    overflow: unset !important;
}

@media (min-width: 768px) {
    app-heading {
        border-bottom: 1px solid var(--black4);
    }
}