/* BOILERPLATE */
:root {
    --purple: #635FC7;
    --light-purple: #A8A4FF;
    --black: #000112;
    --very-dark-gray: #20212C;
    --dark-gray: #2B2C37;
    --black4: #3e3f4e;
    --gray: #828FA3;
    --light-gray: #797784;
    --light-gray2: #F4F7FD;
    --white: #FFFFFF;
    --red: #EA5555;
    --light-red: #FF9898;
}
body {
    margin: 0;
    min-height: 100vh;
    color: var(--white);
    background-color: var(--very-dark-gray);
}
html {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: inherit;
}
h1, h2, h3, p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
html, body { height: 100%; }


/* COMPONENTS */
app-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    background-color: var(--dark-gray);
}
app-board {
    display: grid;
    min-height: calc(100vh - 70px);
}