/* BOILERPLATE */
:root {
    --purple: #635FC7;
    --light-purple: #A8A4FF;
    --black: #000112;
    --very-dark-gray: #20212C;
    --dark-gray: #2B2C37;
    --black4: #3e3f4e;
    --gray: #828FA3;
    --light-gray: #797784;
    --light-gray2: #F4F7FD;
    --white: #FFFFFF;
    --red: #EA5555;
    --light-red: #FF9898;
}
body {
    margin: 0;
    min-height: 100vh;
    color: var(--white);
    background-color: var(--very-dark-gray);
    position: relative;
}
html {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: inherit;
}
h1, h2, h3, h4, p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

/* COMPONENTS */
app-root {
    display: block;
}
app-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    background-color: var(--dark-gray);
    color: var(--white);
}
app-board {
    display: grid;
    height: calc(100vh - 94px);
    background-color: var(--very-dark-gray);
    color: var(--white);
}
new-board-dialog {
    display: block;
}
.mobile app-board {
    display: grid;
    height: calc(100vh - 73px);
    background-color: var(--very-dark-gray);
    color: var(--white);
}
.menuStyles, .optionStyles {
    background-color: var(--dark-gray);
    color: var(--gray);
}
.boardNumber {
    color: var(--gray);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    padding: 16px 26px;
}
.boardBtn, .createNewBoardBtn {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--gray);
    width: 240px;
    border-radius: 0 28px 28px 0;
    padding: 0 26px;
    margin: 0 20px 0 0;
}
.createNewBoardBtn {
    padding: 0 10px 0 26px;
    color: var(--purple);
}
.boardBtn > p, .createNewBoardBtn > p {
    font-size: 15px;
    font-weight: 500;
    padding: 15px 0;
}
.selected {
    background-color: var(--purple);
    color: var(--white);
}
.themeToggleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--very-dark-gray);
    padding: 20px 0;
    margin: 16px 16px 10px 16px;
    gap: 20px;
    align-self: self-end;
}

/* DIALOG STYLES */
.dialog {
    background-color: var(--dark-gray);
    padding: 24px;
    color: var(--white);
}
.dialog h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 24px 0;
}
form {
    display: grid !important;
    gap: 24px;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
}
.dialog .input {
    display: grid;
    gap: 8px;
}
.multiInput {
    display: grid;
    gap: 12px;
}
.dialog input[type="text"], .dialog textarea {
    border-radius: 4px;
    background-color: var(--dark-gray);
    color: var(--white);
    border: 1px solid var(--gray);
    padding: 8px 16px;
    font-size: 13px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 23px;
    resize: none;
}
.dialog input[type="text"]:focus, .dialog textarea:focus {
    outline: none;
}
.dialog label {
    font-size: 12px;
    font-weight: 500;
}

.form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .form-switch i {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
    background-color: var(--purple);
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
  }
  .form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: var(--purple);
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
  }
  .form-switch i::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 3px;
    width: 16px;
    height: 16px;
    background-color: var(--white);
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
  }
  .form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
  }
  .form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
  .form-switch input { display: none; }
  .form-switch input:checked + i { background-color: var(--purple); }
  .form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
  .form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }

  .mat-drawer-inner-container {
    overflow: unset !important;
  }

@media (min-width: 768px) {
    app-heading {
        border-bottom: 1px solid var(--black4);
    }
}